<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="manifest" href="/static/manifest.json">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enable standalone (app-like) mode -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Status bar style: default | black | black-translucent -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- App title on home screen -->
    <meta name="apple-mobile-web-app-title" content="Remote">

    <title>Arch Remote</title>
</head>
<body>
    <a href="movies/">
        <button>Search</button>
    </a>
    <button onclick="sendKey('shutdown')">Shutdown</button>
    <h1>Remote</h1>
    <button onclick="sendKey('playpause')">Play/Pause</button>
    <button onclick="sendKey('fullscreen')">Fullscreen</button>
    <button onclick="sendKey('nextEpisode')">Next Episode</button>
    <div id="now-playing">
        <h2>Now Playing</h2>
        <div id="media-details">Nothing playing right now...</div>
    </div>
</body>
</html>