<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="manifest" href="/static/manifest.json">
        <!-- Enable standalone (app-like) mode -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Status bar style: default | black | black-translucent -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- App title on home screen -->
    <meta name="apple-mobile-web-app-title" content="Remote">
    <title>Search</title>
</head>
<body>
    <a href="/">
        <button>Back</button>
    </a>
    <h1>Search Movies & Shows</h1>

    <form id="search-form">
        <input type="text" id="search-input" placeholder="Search..." required>
        <button type="submit">Search</button>
    </form>

    <div id="results"></div>

    <script src="/static/movies.js"></script>
</body>
</html>